<div class="jumbotron <%= @api_color %> ">
  <h1 class="display-4">Ozone Inspirasi</h1>
  <p class="lead">Your Real Time Air Quality Information Application</p>
  <br/>
  <h2 class="display-2"><%= @final_output %></h2>
  <p class="lead">This is the Air Quality Index in Your Selected Place <br/> <%= @zip_query %> zipcode </p>
  <p> <%= @api_description %> </p>
  <hr class="my-4">
  <p>Hit "Refresh" in your web browser to update the reading</p>
  <br/>
</div>





